/* Insert Your Custom CSS Here */
.btn-active{
  border-bottom: 3px solid #2c2d73;
  color: #2c2d73 !important;
  background: #f6f6f6;
  border-radius: 5px;
}

/* ------------------ 
.dataTables_scrollBody {
	overflow:visible !important;
}*/

/*------------------- Spinner --------------------*/
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

/** fase 2**/
/*.vd_menu{
	max-height: 600px;
    overflow-y: scroll;
}
.vd_content-wrapper{
	min-height: 800px;
}*/
.nropin{
	width: 100px !important;
	margin-right: 40px !important;
}
@media (max-width: 768px){
	.trpin{
		display: inline-flex;
	}
}
/** End fase 2 **/

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
/*------------------- End Spiner -----------------*/

@media ( max-width: 1024px ) {

 .update-visit { 
     
     left: 2em;
 }

}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.vd_checkbox input[type=checkbox]:checked+label::after {
   content: "\f00c";
	font-family: FontAwesome;
}

.eliminar_padding{
	padding:0;
}

.mrp{
	/*width: 70%;*/
}

.ml-10{
	margin-left: 10px;
}

.ml-15{
	margin-left: 15px;
}

.pr-45{
    padding-right: 45px;
}

.mt-28{
	margin-top: 28px;
}

.body_login{
	background-image: url('../img/bg_body.png');
}

.login-layout .vd_body{
	float: right;
    width: 35%;
}

.mr-10{
	margin-right: 10px;
}

.mr-5{
	margin-right: 5px;
}

.div-det{
	height: 410px !important;
}

.det-serv{
	margin-left: 5px;
    margin-top: 12px;
}

.entry-active{
    background: rgb(217, 247, 217) !important;
    border-radius: 3px;
    border: 3px solid #2CFA44;
    margin: 5px;
    padding: 10px;
    margin-bottom: 0px !important;
}

.entry-inactive{
	background: #EFEFEF;
    border-radius: 3px;
    border: 3px solid #C7C7C7;
    margin: 5px;
    padding: 10px;
    margin-bottom: 0px !important;
}

.trselected{
	background-color: #8298E4 !important;
	color: #fff;
}

.trservice:hover{
	background-color: #8298E4 !important;
	color: #fff;
}

.td.sorting_1{
	background-color: transparent !important;
}

.sorting_1{
	background-color: transparent !important;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}

.tooltip{
	z-index: 9999999;
}

.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}

body{
  text-transform: uppercase !important;
  text-overflow: ellipsis !important;
}

.no-transform input{
	text-transform: none !important;
}

.pdb-10{
	padding-bottom: 10px;
}

.pb-5{
	padding-bottom: 5px !important;
}

.checkall{
	top:15px;
}

.ml-15{
	margin-left: 15px;
}

.trsel{
	background-color: #f3f3f3;
}

.mt-25{
	margin-top: 25px;
}

#DataTables_Table_0{
    margin-bottom: 0px;
}

.mb-0{
	margin-bottom: 1px;
}

.div-tar{
	border:1px solid gray;
	margin: 5px; 
	padding:10px;
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month]{
	line-height: 10px !important;
}

.mt-5{
	margin-top: 5px !important;
}

.mt-20{
	margin-top: 20px !important;
}

.color-black{
	color: #333 !important;
}

.color-black:hover{
	background-color: #8298E4 !important;
}

.vd_content-wrapper{
	background-color:#fff !important;
} 

body.stop-scrolling {
	overflow: auto !important;
}

.mb-5{
	margin-bottom: 5px !important;
}

.area-msgs{
	overflow: auto;
	height: 200px;
}

.padd-15{
	padding: 5px 5px 0px;
	margin: 0px;
	padding-bottom: 10px;
}

.row-title{
	margin-bottom: 0px !important;
	margin-left: 5px;
}

.pedit1{
	padding: 2px !important;
}

input{
	text-transform: uppercase !important;
}

.mservice{
	width: 80% !important;
}

.mb-15{
	margin-bottom: 15px !important;
}

.mb-10{
	margin-bottom: 10px !important;
}

.mt-30{
	margin-top: 30px !important;
}

.mt-10{
	margin-top: 10px !important;
}

.btn-mommy{
  color: #1d51ab !important;
}

body{
	font-size: 11px !important;
}

.btn-mommy:hover{
  color: #1d51ab !important;
  background-color: #8298E4;
  color: #333 !important;
}

.vd_bg-grey{
	background-color: #8298E4 !important;
}

.vd_menu a{
  color: #1d51ab !important;
}

.btn-mommy i{
  color: #BFBFBF;
}

.btn-mommy .menu-text{
  font-weight: bold !important;
  color: #1d51ab;
}

.img-print{
  width:120px;
  margin-left: 50px;
}

.caj{
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.eventtitle{
  height: 100%;
}

.eventtitle label{
  height: 100%;
  margin-top: -5px;
}

.title-print{
  margin-top: 12px;
  margin-left: 50px;
  font-size: 8px;
}

.lbl-bottom{
  margin-top: 20px;
  margin-left: 30px;
  font-size: 10px;
}

.lbl-date{
  margin-top: 5px;
  margin-left: 40px;
  font-size: 8px;
}

.ml15{
  margin-left: 15px;
}

.cant{
  width: 15px;
}

.tott{
  width: 135px;
  text-align: right;
}

.tott2{
  width: 40px;
  text-align: right;
}

.pvp{
  width: 50px;
}

.tot{
  width: 50px;
}

.desc{
  width: 100px;
}

.f7{
  font-size: 7px;
}

.f8{
  font-size: 8px;
}

.linesep{
  margin-top: -20px;
}

.items{
  margin-top: -10px;
}

#picker {
  margin:0;
  padding:0;
  border:0;
  width:70px;
  height:20px;
  border-right:20px solid green;
  line-height:20px;
}

.colorpicker{
  z-index: 999999999999999999999999999999;
}

.zindex-100{
  z-index: 100;
}

.main-cobro{
  background-color: #f5f5f5 !important;
}

.main-fpago{
  background-color: #f5f5f5 !important;
}

.main-fconfirm-tarj{
  background-color: #f5f5f5 !important;
}

.main-fconfirm-efect{
  background-color: #f5f5f5 !important;
}

.title-menu2{
  color: #333;
  text-align: center;
}

.cash{
  border-radius: 0px !important;
  margin-top: 0px !important;
  border-top: 0px;
  text-align: left;
  border-color: transparent;
}

.cash a{
  color: #333;
  padding: 13px 20px !important;
}

.no-20 .row{
  margin-bottom: 6px !important;
}

.mg-select{
    margin-bottom: 10px;
}

.nb-menu2{
    background-color: rgb(236, 236, 236);
}

.cash a:hover{
  color: #fff !important;
}

.ul-menu2{
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.selected{
  background-color: rgb(228, 228, 228);
}

.selected a{
  color: #333;
  font-family: monospace;
}

.bd-gray{
  border: 1px solid rgb(213, 213, 213);
}

.cash:hover{
  border: transparent !important;
  color: #fff !important;
  background: #e890c2 !important;
  background-image: -webkit-gradient( linear, left bottom, left top, from( #d65aa0 ), to( #e890c2 ) ) !important;
  background-image: -webkit-linear-gradient( bottom, #d65aa0, #e890c2 ) !important;
  background-image: -moz-linear-gradient( bottom, #d65aa0, #e890c2 ) !important;
  background-image: -o-linear-gradient( bottom, #d65aa0, #e890c2 ) !important;
  background-image: linear-gradient( to top, #d65aa0, #e890c2 ) !important;
}

.title-menu2 h5{
  color: #FFF;
  background-color: #e890c2;
  margin: 0px;
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #ECBAD6;
}

.margin-5{
  margin: 5px !important;
}

.mg-10{
  margin: 10px !important;
}

.limpu{
  list-style: none;
  margin-top: 15px;
  padding-left: 0px;
}

.mb{
  text-align: left !important;
}

.pvp{
  text-align: left !important;
}

.additems{
  cursor: pointer;
}

.divprice{
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.bd-tbl{
  border: 1px solid rgb(210, 210, 210) !important;
}

.mg-top-10{
  margin-top: 10px;
}

.limpu-li{
  border-bottom: 1px solid #333;
}

.bround{
  line-height: 90px !important;
}

.popitemcobro{
  min-width: 200px !important;
  width: 200px !important;
}

.extra{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.confirm-dto{
  margin-top: 10px;
}

.divseldto{
  margin-left: 0px;
  margin-right: 0px;
}

.addplus{
  height: 130px !important;
}

.extraemploye{
  background-color: #d3b534;
  color: #fff;
}

.nn{
  padding-left: 0px;
  padding-right: 0px;
}

.extradto{
  background-color: #e65a72;
  border-color: #be324a;
  border-width: 1px;
  color: #fff;
}

.addcobro{
  background: transparent !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border: 1px solid #EFDBE6 !important;
  height: 100% !important;
  width: 100% !important;
  border-radius: 7px;
}

.addcobro2{
  background: transparent !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border: 1px solid #e890c2 !important;
  height: 50px !important;
  width: 100% !important;
  border-radius: 7px;
}

.addcobro2 .vd_round-btn{
  background-color: transparent !important;
  color: #e890c2 !important;
  margin-top: -15px !important;
  height: 50px !important;
}

.addcobro .vd_round-btn{
  background-color: transparent !important;
  color: #e890c2 !important;
}

.licob .pull-right{
  margin-bottom: 0px !important;
}

.padding0{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.litmcob{
  padding-right: 0px !important;
  padding-left: 0px;
  list-style: none;
  font-size: 11px;
  text-align: center;
}

.item-body{
  cursor: pointer;
}

.litmcob li{
  border-top: 1px solid #EFDBE6; 
}

.litmcob li:first-child{
  border-top: 0px; 
}

.totitem{
  padding-top: 8px;
}

.isolitmcob{
  line-height: 30px;
}

.opcobro0 .list-wrapper li{
  background-color: #f5f5f5 !important;
  cursor: pointer;
  font-weight: bold;
}

.opcobro0 .list-wrapper > li:hover{
  background-color: #333 !important;
  cursor: pointer;
  font-weight: bold;
}

.p0{
  margin-top: 15px;
}

.fc{
  text-align: center;
}

.pheader{
  padding-bottom: 5px;
  background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ebebeb));
  background: -moz-linear-gradient(top,#fff 0,#ebebeb 100%);
  background: -o-linear-gradient(top,#fff 0,#ebebeb 100%);
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  height: 50px !important;
}

.bgstripe{
  background: url('/web/img/stripe.png') !important;
  border: 1px dashed #9a62a1 !important;
  border-top: 1px dashed #9a62a1 !important;
  background-color: rgb(232, 144, 194) !important;
  z-index: 9999999 !important;
  border-color: rgb(154, 98, 161) !important;
}

.bc{
  padding: 3px 4px 3px !important;
}

.bc2{
  margin-right: -15px;
}

.gitem{
  width: 100% !important;
  height: 190px !important;
}

.pedit{
  margin-bottom: 0 !important;
}

.curpoint{
  cursor: pointer;
}

.rowedit{
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-top: -20px !important;
}

.btn-toolbar{
  margin-left: 10px;
}

.btn-edit{
  margin-right: 10px;
}

input[type="search"]{
  padding: 0 !important;
}

td{
  cursor: pointer;
}

.bd-lf{
  border-left: 1px solid #e1e1e1;
}

.bd-rg{
  border-right: 1px solid gray;  
}

.fc-event{
  cursor: pointer;
}

.cop{
   border: 1px solid #AEAEAE !important;
   height: 45px !important;
}

.cop2{
  margin-top: 0px !important;
}

.cop3{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.cop4{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.bg-mommy{
  background: #e890c2 !important;
}

.popover{
  width: 350px;
  max-width: 350px !important;
  min-width: 350px;
}

.content-list .wrap-25-edit li{
  width: 97% !important;
  margin-left: 5px !important;
  margin-right: -5px !important;
  border-bottom: 1px solid rgb(207, 198, 198);
  padding: 10px;
}

.ulcat{
  margin-top: -19px !important;
}

.popcat{
  padding-bottom: 0px;
}

.listu:hover{
  color: #fff !important;
  font-style: bold;
}

.foot{
  background-color: rgb(247, 247, 247);
}

.hrp{
  margin-top: 0px !important;
}

.delitem{
  color: red !important;
  cursor: pointer;
}

.text-left{
  text-align: left !important;
}

.listu{
  color: #333 !important;
  font-style: bold;
}

.tdcategory{
  font-size: 8px;
  text-transform: uppercase;
  width: 100% !important;
}

.tblitems{
  border-bottom: 1px solid rgb(234, 233, 233);
  padding-top: 15px !important;
  margin-top: 10px;
  padding-bottom: 5px !important;
}

.tbitems tr td:first-child{
  width: 65%;
}

.tbitems tr td{
  cursor: default;
}

.tbitems tr:first-child{
  line-height: 0px;
}

.tbitems tr:last-child{
  border: 0 !important;
}

.lcat{
  padding: 5px;
}

.listustyle{
  margin-left: 5px;
  margin-right: 5px;
  color: #333;
}

.listustyle:hover{
  color: #fff !important;
  font-style: bold;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.ms{
  border:0px;
  background-color: transparent !important;
}

.ms:hover{
  background-color: transparent !important;
}

.ms2:hover{
  background-color: transparent;
}

.mt:hover{
  color: #fff !important;
}

.cm{
  border: 1px solid #8298e4;
  border-top: 0px
}

.mop{
  border: none;
}

.mop:hover{
  color: #fff !important;
  background: #8298e4 !important;
}

.content-list .list-wrapper>li:hover{
  color: #fff !important;
  background: #8298e4 !important;
}

.mo{
  margin-left: 15px !important;
}

.hs{
  margin-top: 5px;
  margin-left: 5px;
}

.bf{
  margin-left: 10px;
  font-size: 15px;
}

.lhs{
  margin-top: 10px;
  color: gray;
  font-size: 10px;
  margin-left: -5px;
}

.eventtitle {margin-top: -6px;}
label.pull-right.label {margin-top: 3px !important;}

.sup{
  padding-left: 0px;
  padding-right: 5px;
}

.fc-widget-content{
   background-color: transparent !important
}

.fc-button-month{
  margin-right: 20px !important;
}

.fc-widget-header{
  border: 1px solid #676767;
  background-color: rgb(161, 161, 161);
  color: #fff;
}

.vd_content-section{
	background-color: #fff !important;
}

.logo{
  margin-top: -8px;
  width: 200px;
}

.login-layout .panel-body{
	border-bottom: none;
}

.logo2{
  margin-top: -8px;
}

.bghome{
	background-image: url("../img/logo-ppal.png");
    background-repeat: no-repeat;
    background-position: -50px 0px;
    min-width: 100% !important;
    min-height: 580px !important;
}

.mr5{
  margin-right: 5px;
}

.mr20{
  margin-right: 20px;
}

.mt30{
  margin-top: 30px;
}

.bordergray1{
    border: 1px solid gray !important;
}

.vd_body .frm_login{
	color: #666666;
    background: #E5E5E5;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    border-color: #285e8e;
    height: 30px;
    margin-bottom: 15px;
    padding: 0px;
}

.az{
	color: #22439A !important;
}

.lost{
	margin-top: -15px;
    padding-right: 0px;
}

.frm_l{
    margin-left: -45px !important;
    margin-right: 25px !important;
    margin-top: 22%;
}

.f17{
	font-size: 15px;
}

mb-0{
	margin-bottom: 0px !important;
}

.login-layout .heading {
    text-align: center !important;
    margin: 60px 0 0 50px !important;
}

.vd_body .frm_login input {
    border: none;
    background: none;
    padding-left: 0px;
    border-radius: 5px;
    padding: 3px 38px 3px 38px;
    text-align: center;
}

@media screen and (max-width:768px){
	.login-layout .vd_body{
		width: 65%;
	}
	.frm_login{
		border: none;
	    background: none;
	    padding-left: 0px;
	    border-radius: 5px;
	    padding: 3px 38px 3px 38px;
	    text-align: center;
	    margin-left: 55px;
	}
	.mb-0{
	    margin-left: 0px;
	}
	.mb-0 label{
	    margin-left: 45px;
	}
	.pa{
	    margin-left: 45px;
	}
}

@media (min-width: 950px) { 
    .login-layout .vd_body{
		width: 35%;
	}
}
@media(max-width: 691px){
	.modal_comprobante{
		margin: 10% auto;
	}
}
.modal_comprobante{
	width:80% !important;
}
.tbl{
	width:100% !important;
}
.h20{
	height:20px !important
}
.tbl thead tr th{
	text-align: center;
}
.tbl tbody tr td{
	padding-right: 10px;
    padding-left: 10px;
}
.hidden{
	display:none !important;
}
.t20{
	margin-top: 20px;
}
.tar{
	text-align: right;
}
.btrans{
	border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}
.scrollbar {
     overflow:auto; 
     height:100%;
     width: 100%;
     margin-bottom: 10px;
     margin-top: 30px;
}
#div_tbl::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    background-color: transparent;   
}
#div_tbl::-webkit-scrollbar{
    height: 8px;
    width: 8px;
    background-color: transparent;
    
}
#div_tbl::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
    background-color: #23709e !important;

}

.logo_comp{
	width: 200px;
}
.table thead tr th {
	vertical-align: top !important;
}
.table.dataTable thead th{
	border-bottom:0 !important;
}