.color-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  border:none !important;
}

.nav-pills>li.active>a{
	background-color: transparent !important;
}

.vd_white{
	color : #FFFFFF !important;
}

.bgbody{
	background-image: url("../img/app/flogin.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bghome{
	background-image: url("../img/app/fnd-home.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 100% !important;
    min-height: 580px !important;
}

.login-wid{
	margin-left: 100px !important;
}

.l-bottom{
	margin-bottom: 10px !important;
}

.m580{
	min-height:580px !important;
}

.m600{
	min-height:600px !important;
}

.iface{
	color: #4e69a2 !important;
}

.igplus{
	color: #d73d32 !important;
}

.itwi{
	color: #55acee !important;
}

.dinline{
	display: inline !important;
	border: none !important;
}

.color-corp{
	color: #0096AC !important;
}

.bg-color-corp{
	background-color: #0096AC !important;
}

.menu-hdr{
	background-color: #F0F0F0 !important;
}



